<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Cambio de contraseña generado con exito <%= @user.username %>!</p>


<p>Email: <%= @user.email %></p>
<p>Nuevo Password: <%= @user.password %></p>

</body>
</html>